.history-content {
    text-overflow: wrap;

    p {
        clear: none;
    }

    #choi-brothers {
        float: right;
        margin: 20px 0px 10px 30px;
    }
    
    #leejoncalligraphy {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}