html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #363738; 
    line-height: 75%;
    min-height: 100%;
    position: relative;
}

/* main title bar */
  
.maintitle {
    font-family: 'Roboto Slab', serif;
    color: #363738;
    background-color: #FFF;
    width: 100%;
    height: 125px;
    padding: 40px;
    border-bottom: 10px solid #9F0A20;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

h1 {
    font-size: 70px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: #9F0A20;
}

/* end main title bar */

nav {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #717271;
    text-decoration: none;
    background-color: #FFF;
    width: 200px;
    height: 225px;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    box-shadow: 5px 5px #9F0A20;
}

.navtitle {
    font-size: 25px;
    font-weight: 600;
    color: #363738;
    line-height: 50%;
}

a {
    color: #9F0A20;
    text-decoration: none;
}

a:hover {
    color: #717271;
}

.button {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #FFF;
    background-color: #9F0A20;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    display: block;
}

.button:hover {
    color: #FFF;
    background-color: #720818;
}

/* content titles */

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 700;
    color: #363738;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 400;
    color: #363738;
}

h5 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    color: #363738;
}

/* end content titles */

.content {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #363738;
    line-height: 150%;
    background-color: #FFF;
    height: auto;
    min-height: auto;
    width: 800px;
    padding: 35px;
    border-radius: 10px;
    margin: 30px;
    position: relative;
    top: -335px;
    left: 350px;
    box-shadow: 5px 5px #9F0A20;
}

a.content {
    text-decoration: underline;
}

/* content images */

.contentimage {
    width: auto;
    height: auto;
    border-radius: 5px;
}

#bb2016 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#choibrothers {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

#leejoncalligraphy {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* end content images */

iframe {
    width: 800px;
    height: 500px;
    border-radius: 5px;
}

/* tables */

#eachscheduleblock {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #FFF;
    background-color: #9F0A20;
    text-align: center;
    width: 115px;
    height: 190px;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    display: inline-block;
}

#classname {
    font-size: 18px;
    font-weight: 600;
}

.typicaltable {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #363738;
    width: 800px;
    height: auto;
    border-collapse: collapse;
}

.typicaltable th, .typicaltable td {
    border: 1px solid #717271;
    padding: 10px;
}

.typicaltable th {
    color: #363738;
    font-size: 18px;
    font-weight: 400;
}

.typicaltable td {
    line-height: 1.5;
}

ul {
    margin-left: -15px;
}

.center{
    text-align: center;
}

/* end tables */

hr {
    border: 1px solid #9F0A20;
}
      
.allbutfooter {
    height: auto;
    min-height: 100vh;
}

/* footer */

footer {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #717271;
    background-color: #FFF;
    width: 100%;
    height: 200px;
    border-top: 5px solid #717271;
    display: block;
    bottom: 0px;
}

.allfooterimages {
    width: 400px;
    height: 60px;
    padding: 20px;
    margin: auto;
    vertical-align: middle;
}

.footercontact {
    font-family: 'Open Sans';
    font-size: 12px;
    text-align: center;
    line-height: 150%;
}

/* end footer */