html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 75%;
    min-height: 100%;
}

    /* main title bar */
    
        .maintitle {
            font-family: 'Roboto Slab', serif;
            color: #363738;
            background-color: #FFF;
            width: (100vw - 80px);
            height: 125px;
            padding: 40px;
            border-bottom: 10px solid #9F0A20;
            display: block;
            position: relative;
            margin: 0;
        }

        h1 {
            font-size: 70px;
            font-weight: 700;
        }

        h2 {
            font-size: 30px;
            font-weight: 300;
            color: #9F0A20;
        }

    /* end main title bar */

    /* other titles */

        h3 {
            font-family: 'Roboto Slab', serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 100%;s
            color: #363738;
            margin: 10px 0px;
        }

        h4 {
            font-family: 'Roboto Slab', serif;
            font-size: 30px;
            font-weight: 400;
            color: #363738;
        }

        h5 {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 700;
            color: #363738;
        }

    /* end other titles */

    /* nav */

        nav {
            font-family: 'Roboto Slab', serif;
            font-size: 22px;
            font-weight: 300;
            text-decoration: none;
            color:  #363738;
            background-color: #717271;
            width: 100vw;
            height: 50px;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0px;
            display: block;
            z-index: 1;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding-right: 20px;
        }

        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 19px;
            text-decoration: none;
            float: left;
        }

        nav li a:hover {
            background-color:  #363738;
            color: white;
        }

        .active {
            color: #FFF;
            background-color: #9F0A20;
        }

    /* end nav */

    /* generics for all content */

        .content {
            font-family: 'Open Sans';
            font-size: 18px;
            color: #363738;
            line-height: 150%;
            background-color: #FFF;
            height: auto;
            min-height: auto;
            width: 100vw;
            padding: 75px;
            position: relative;
            display: block;
            box-sizing: border-box;
        }

        a {
            color: #9F0A20;
            text-decoration: none;
        }

        a:hover {
            color: #717271;
        }

        .button {
            font-family: 'Open Sans';
            font-size: 18px;
            color: #FFF;
            background-color: #9F0A20;
            width: auto;
            height: auto;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            margin: 15px;
            display: block;
        }

        .button:hover {
            color: #FFF;
            background-color: #720818;
        }

        hr {
            border: 1px solid #9F0A20;
        }
    
    /* end content generics */

    /* homepage blocks */

        .homepagecontent {
            padding: 0px;
        }

        .contentblock {
            box-sizing: border-box;
            height: 500px;
            display: block;
            position: relative;
        }

        #bb2016 {
            width: 100vw;
            height: 100%;
            display: block;
            position: relative;
            margin: 0;
        }

        .welcome {
            height: 100%;
            padding: 50px;
            margin: auto;
        }

            .welcome h3 {
                margin: auto;
            }

        .mission {
            background-color: #C9C7C7
        }

            .mission .block-textwrap {
                width: 600px;
                height: auto;
            }

        .learn {

        }

        .instructors {
            background-color: #C9C7C7
        }

        .ranks {

        }

        .classofferings {
            background-color: #C9C7C7
        }
    
    /* homepage blocks */

    /* content images (not homepage) */

        .contentimage {
            width: auto;
            height: auto;
        }

        #choibrothers {
            float: left;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #leejoncalligraphy {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        iframe {
            width: 100%;
            height: 500px;
            border-radius: 5px;
        }

    /* end content images */

    /* tables */

        .typicaltable {
            font-family: 'Open Sans';
            font-size: 12px;
            color: #363738;
            width: 100%;
            height: auto;
            border-collapse: collapse;
        }

        .scheduleblocks {
            width: 100%;
            height: auto;
        }
    
        #eachscheduleblock {
            font-family: 'Open Sans';
            font-size: 14px;
            color: #FFF;
            background-color: #717271;
            text-align: center;
            width: 250px;
            height: 100px;
            border-radius: 5px;
            padding: 25px;
            margin: 10px;
            display: inline-block;
        }

        #classname {
            font-size: 18px;
            font-weight: 600;
            margin: 0px;
        }

        .typicaltable th, .typicaltable td {
            border: 1px solid #717271;
            padding: 10px;
            line-height: 1.5;
        }

        .typicaltable th {
            color: #363738;
            font-size: 18px;
            font-weight: 400;
        }

        .typicaltable td {
            line-height: 1.5;
        }

        table ul {
            margin-left: -15px;
        }

        .center{
            text-align: center;
        }

    /* end tables */

    /* footer */

        footer {
            font-family: 'Open Sans';
            font-size: 12px;
            color: #717271;
            background-color: #FFF;
            width: 100vw;
            height: 200px;
            border-top: 5px solid #717271;
            display: block;
            bottom: 0px;
        }

        .allfooterimages {
            width: 400px;
            height: 60px;
            padding: 20px;
            margin: auto;
            vertical-align: middle;
        }

        .footercontact {
            font-family: 'Open Sans';
            font-size: 12px;
            text-align: center;
            line-height: 150%;
        }

    /* end footer */