@import '../vars.scss';

$dark-gray-90: rgba(56, 51, 51, 0.9);
$dark-gray-10: rgba(56, 51, 51, 0.1);

.homepage-content {
    width: 100vw;
    margin: 0px -80px;
    padding: 0px;
    font-size: 26px;

    .content-block {
        box-sizing: border-box;
        height: auto;
        display: block;
        position: relative;
        margin-left: -10px;
    }

    .block-textwrap {
        height: 400px;
        width: 600px;
        padding: 50px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: auto;
    }

    .homepage-bg-image {
        width: 100vw;
        min-width: 600px;
        height: 100%;
        margin: 0;
        z-index: -1;
        box-sizing: default;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 98%;
        z-index: 0;
    }

    .welcome {
        padding: 40px;
    }

    #bb2016 {
        width: 100vw;
        height: 100%;
        display: block;
        position: relative;
        margin: 0;
        margin-left: -10px;
    }

    .mission {
        background-color: $dark-gray;
        color: $light-gray;
        height: 100%;
        padding: 50px 100px;
        text-align: center;

        h3 {
            color: white;
        }
    }

    .learn {

        .overlay {
            background: linear-gradient(to right, $dark-gray-10, 40%, $dark-gray-90);  // transparency gradient
        }

        .block-textwrap {
            color: white;
            width: 700px;
            height: 100%;
            position: absolute;
            right: 3%;
            top: 60%;
            transform: translateY(-50%);
            vertical-align: middle;

            h3 {
                color: white;
            }
        }
    }
    
    .instructors {
        height: 400px;
    }
    
    .ranks {
        margin-bottom: -10px;
        
        .overlay {
            background: linear-gradient(to right, $dark-gray-90, 60%, $dark-gray-10);  // transparency gradient
        }

        .block-textwrap {
            color: white;
            height: 100%;
            position: absolute;
            left: 6%;
            top: 60%;
            transform: translateY(-50%);
            vertical-align: middle;

            h3 {
                color: white;
            }
        }
    }
    
    .classofferings {
        background-color: $light-gray;
        margin-bottom: -20px;  // negate body padding
        padding: 70px;
    }
}
