@import './../vars.scss';

.ribbon {
    font-family: $primary-font-family, serif;
    color: $red;
    background-color: white;
    width: 100vw;
    height: 125px;
    padding: 40px;
    border-bottom: 10px solid $red;
    display: block;
    position: relative;
    margin: 0;

    h1 {
        font-size: 70px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 30px;
        font-weight: 300;
    }
}