@import './../vars.scss';

.ribbon {
    font-family: $primary-font-family, serif;
    color: $red;
    background-color: white;
    width: 100vw;
    height: 215px;
    padding: 40px;
    border-bottom: 10px solid $red;
    display: block;
    position: relative;
    margin: 0;
    box-sizing: border-box;

    img {
        height: 130px;
        position: absolute;
        margin-top: 5px;
    }

    .ribbon-text {
        position: absolute;
        left: 200px;
        top: 25px;

        h1 {
            color: $red;
            font-family: $logo-font;
            font-size: 85px;
            font-weight: 700;
        }
        
        h2 {
            color: $mid-gray;
            font-size: 30px;
            font-weight: 300;
        }
    }

    .ribbon-contact-info {
        color: $mid-gray;
        font-size: 16px;
        width: 275px;
        position: absolute;
        top: 45px;
        right: 20px;
        line-height: 120%;
        overflow: hidden;

        p {
            margin: 10px;
        }

        a {
            color: $mid-gray;
        }
    }
}