// import fonts from google
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400,700);

// font families
$primary-font-family: 'Roboto Slab';   
$body-font-family: 'Open Sans';

// colors
$red: #990D22;
$darkened-red: #720818;
$light-gray: #C9C7C7;
$mid-gray: #727272;
$dark-gray: #383333;