@import './../vars.scss';

footer {
    font-family: $body-font-family;
    font-size: 12px;
    color: $mid-gray;
    background-color: white;
    width: 100vw;
    height: 225px;
    border-top: 5px solid $mid-gray;
    display: block;
    bottom: 0px;

    .all-footer-images {
        width: 400px;
        height: 60px;
        padding: 20px;
        margin: auto;
        vertical-align: middle;
    }
    
    .footer-text {
        font-family: $body-font-family;
        font-size: 12px;
        text-align: center;
        line-height: 150%;
    }
}